body{
    width: 800px;
    height: 200px;
    display: flex;
}

.centershit {
    height: 100%;
    padding: 1%;
    flex-flow: column;
    display: flex;
    flex: 4;
}

.keys {
    height: 100%;
    display: flex;
    flex: 8;
    justify-content: center;

}


.note {
    flex: 1;
    display: inline-flex;
    align-items: center;
}

.black {

    justify-content: center;
    position: relative;
    height: 70%;
    background-color: #474747;
    color: white;
    width: 8%;
    margin: 0 -4%                                                                                                                   
}


.white {
    flex-flow: column;
    justify-content: flex-end;
    outline: 2px solid #474747;
    color: #474747;
    background-color: #ffffff;
    padding-bottom: 1%;
}