body{
    width: 800px;
    height: 200px;
    display: flex;
}

.app {
    height: 100%;
    padding: 1%;
    flex-flow: column;
    display: flex;
    flex: 4;
}

.keys {
    height: 100%;
    display: flex;
    flex: 8;
    justify-content: center;
}


.note {
    flex: 1;
    display: inline-flex;
    align-items: center;
}

.black {

    justify-content: center;
    position: relative;
    height: 70%;
    background-color: #474747;
    color: white;
    width: 8%;
    margin: 0 -4%                                                                                                                   
}


.white {
    flex-flow: column;
    justify-content: flex-end;
    outline: 2px solid #474747;
    color: #474747;
    background-color: #ffffff;
    padding-bottom: 1%;
}


.keys { 
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}